{% extends 'base.html.twig' %}

{% block title %}Your Account{% endblock %}

{% block body %}
    {% include '/includes/header.html.twig' %}
    <div>{{ currentUser.userIdentifier }}</div>
{% endblock %}
