{% extends 'base.html.twig' %}

{% block title %}Your Account{% endblock %}

{% block body %}
    {% include '/includes/header.html.twig' %}
    <div class="main_content">Hi, {{ currentUser.userIdentifier }}!</div>
{% endblock %}
