{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
{% include '/includes/header.html.twig' %}
    <div class="container bg-dark text-white">
        <div>Welcome to banane clicker !</div>
    </div>
{% endblock %}
