{% extends 'base.html.twig' %}

{% block title %} List of users {% endblock %}

{% block body %}
{% include 'includes/header.html.twig' %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        {% if "ROLE_ADMIN" in user.roles %}
                            admin
                        {% else %}
                            user
                        {% endif %}
                    </td>
                    <td><a href="{{ path('userEdit', { id: user.id }) }}">edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}