{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {% include '/includes/header.html.twig' %}
    <a href="{{ path('userList') }}">View users</a>
{% endblock %}
