{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    {# Link to the user list #}
    <a href="{{ path('mod_user_list') }}" class="link-warning">View users</a>
{% endblock %}
